<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts - InstaClone</title>
    <link rel="stylesheet" href="style2.css">
</head>
<body>
    <div class="container">
        <% for (let i = 0; i < posts.length; i++) { %>
        <div class="post-card">
            <div class="post-header">
                <img src="<%=posts[i].imageUrl2 %>" alt="User Avatar" class="avatar">
                <h2 class= "username"><%=posts[i].username %></h2>
            </div>
            <img src="<%=posts[i].imageUrl %>" alt="Post Image" class="post-image">
            <div class="post-info">
                <p class="caption"><strong><%= posts[i].caption %></strong></p>
                <p class="likes">♥<%= posts[i].likesCount %></p>
               <% if (posts[i].commentsCount === 0 ) { %>
                    <p class="comments">There are no comments. Be the first to comment!</p>
               <% } else { %>
                <p class="comments">💬<%= posts[i].commentsCount %></p>
               <% } %>
                <p class="time">⏰<%=posts[i].postTime %></p>
                <a href="/post/<%=i  %>">More</a>
            </div>
        </div>
        <%  } %>
    </div>

</body>
</html>

<!-- https://chatgpt.com/share/67a036c8-5e90-8002-b123-99c13309d36a -->